.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

.error-photo {
    height: 20em;
}

.oh-no, .message {
    font-size: 2em;
    margin-bottom: .2em;
}

.home-link {
    margin-top: 1.5em;
    height: 3em;
    border-radius: .4em;
    font-size: .9em;
    background-color: white;
    font-weight: bolder;
    cursor: pointer;
}

.home-link:hover {
    transform: scale(1.18);
    background-color: bisque;
}