.App {
  text-align: center;
  color: white;
  height: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body, html, #root {
  position: absolute;
  width: 100%;
  background-color: rgb(69, 205, 207);
}

a {
  text-decoration: none;
}